/* Add a background color to the header element */
header {background-color: gold;}
h3 {color: red;
    font-size: 56px;
    font-variant: small-caps;
    text-align: center;
    animation: animate 1.0s linear infinite;
}

@keyframes animate{ 
    0%{ 
      opacity: 0; 
    } 
    50%{ 
      opacity: 0.7; 
    } 
    100%{ 
      opacity: 0; 
    } 
  } 
/* Add a fun background color to the main element */
main {background-color: blueviolet;}
/* Align the h1 containing your name in the center of the header*/
h1 { color: blueviolet;
    text-align: center;
    font-variant: small-caps;

}

h5 {
    color: yellow;
    font-size: 30px;
    font-family: fantasy;


}



/* Make your p tag a different color and italic */
p {
color: gold;
font-style: italic;
font-family: cursive;



}
/* Put a border around your image */
img {
    border: 5px solid yellow;



}
/* Change the font-family of your list */
li {
font-family: monospace;
font-size: large;


}
/* Add a background color to the footer element */
footer {
background-color: black;


}

